server:
  port: 8081

spring:
  application:
    name: txbank-notificacao
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notificacao-service-v1
      auto-offset-reset: earliest
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: false
          starttls:
            enable: true

email:
  destino: ${EMAIL_DESTINO}

# Para ver logs detalhados do consumidor
# logging:
#   level:
#     org.springframework.kafka: DEBUG
#     org.apache.kafka.clients.consumer: DEBUG